.booklist {
  width: 90vw;
  max-width:1170px;
  margin: 2rem;
  display: grid;
  gap:1rem;
}

.book {
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem 1rem;
}

.book img{
  width: 100px;
  height: 250px;
  object-fit: cover;
  margin: 0 auto;
}

.book h1 {
  font-size: 0.9rem;
}

.book h4 {
  font-size: 0.5rem;
}

@media screen and (min-width: 500px) {
  .booklist {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 700px) {
  .booklist {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 900px) {
  .booklist {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1100px) {
  .booklist {
    grid-template-columns: repeat(5, 1fr);
  }
}